.registration-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.registration-card {
	width: 400px;
}

.full-width {
	width: 100%;
  }

.actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
  }
  
