<div class="wrapper d-flex">
	<nav id="sidebar">

		<ul class="list-unstyled components">
			<!-- <li class="nav-item">
				<a routerLink="/user-dashboard" class="nav-link" routerLinkActive="active">
					<i class="fas fa-tachometer-alt"></i> Dashboard
				</a>
			</li> -->
			<li class="nav-item">
				<a routerLink="/user-dashboard/food" class="nav-link" routerLinkActive="active">
					<i class="fas fa-concierge-bell"></i>
					Food
				</a>
			</li>

			<li class="nav-item">
				<a routerLink="/user-dashboard/orders" class="nav-link" routerLinkActive="active">
					<i class="fas fa-user"></i> orders
				</a>
			</li>
			<!--  -->


			<li class="nav-item">
				<a routerLink="/user-dashboard/tracking" class="nav-link" routerLinkActive="active">
					<!-- <i class="fas fa-user"></i> Profile -->
					<i class="fas fa-shopping-cart"></i> tracking
				</a>
			</li>

			<li class="nav-item">
				<a routerLink="/user-dashboard/cart" class="nav-link" routerLinkActive="active">
					<!-- <i class="fas fa-user"></i> Profile -->
					<i class="fas fa-shopping-cart"></i> Cart
				</a>
			</li>

			<li class="nav-item">
				<a routerLink="/user-dashboard/wallet" class="nav-link" routerLinkActive="active">
					<i class="fas fa-wallet"></i> Wallet
				</a>
			</li>



			<li class="nav-item">
				<a routerLink="/user-dashboard/profile" class="nav-link" routerLinkActive="active">
					<i class="fas fa-user-circle"></i> Profile
				</a>
			</li>


			<!-- <li class="nav-item">
				<a routerLink="/messages" class="nav-link" routerLinkActive="active">
					<i class="fas fa-envelope"></i> Messages
				</a>
			</li> -->





			<li class="nav-item">
				<a routerLink="/user-dashboard/settings" class="nav-link" routerLinkActive="active">
					<i class="fas fa-cog"></i> Settings
				</a>
			</li>

			<li class="nav-item">
				<a routerLink="/logout" class="nav-link">
					<i class="fas fa-sign-out-alt"></i> Logout
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="/user-dashboard/customer-support" class="nav-link" routerLinkActive="active">
					<i class="fas fa-headset"></i> Customer Support
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="/user-dashboard/live-chat" class="nav-link" routerLinkActive="active">
					<i class="fas fa-comments"></i> Live Chat
				</a>
			</li>
		</ul>
	</nav>

	<div id="content" class="p-4">
		<app-admin-header></app-admin-header>
		<router-outlet></router-outlet>
	</div>
</div>